<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>rups-chat-app</title>
</head>
<body>
	<h1>THIS IS CHAT.HTML</h1>
</body>
</html>