<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>rups-chat-app</title>
</head>
<body>
	<h1>HEY! WELCOME TO MY CHAT APP</h1>
</body>
<script src="/js/script.js"></script>
</html>