<div class="p-2 py-4 w-full mt-2 border-t border-gray-200 text-center">
  <a class="flex text-blue-700 justify-center font-semibold">
    <img src="/img/chat-logo.png" class="w-5 h-5 mr-2"> ChatBolt
  </a>

  <p class="leading-normal text-gray-600"> &copy; 2022. Made with <i class="bi bi-heart-fill text-blue-600"></i> by <a href="https://linktr.ee/rupali_codes" target="_blank" class="text-blue-600 font-semibold">Rupali Haldiya</a>.
  </p> 
</div>
