<header class="text-gray-600 body-font bg-white " id="home">
    <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row  container ">
      <div class="flex justify-between">
        <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
         <img src="img/chat-logo.png" class="h-8 w-8">
          <span class="ml-3 text-xl text-blue-600">ChatBolt</span>
        </a>

        <button class="inline-flex items-center text-white  bg-blue-600 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 text-base md:mt-0 mx-2  mb-4  rounded shadow lg:hidden md:hidden"><a href="/signup">Sign Up</a></button>
      </div>
     </div>
  </header>